<%= render layout:"shared/centre_card" do %>
  <div class="project_new_wrapper">
    <div class="header">
        <div class="wrapper">
            <h1 class="dipsplay-4 heading">Create Project</h1>
            <h2 class="subheading">New project <span class="website">bubble</span></h2>
        </div>
    </div>

    <%=render layout:"shared/content_wrapper" do%>
        <%=form_with model:@project do |form|%>

          <%=form.label :name%>
          <%=form.text_field :name , class:"primary_input" , autocomplete:"off"%>

          <br/>
          <div class="checkbox-group">
            <div class="members_checkboxes">
                <% @members.each do |member| %>
                <div class="checkbox">
                    <label>
                        <%= form.check_box :member_ids , { multiple: true } , member.id  , false%>
                        <%=member.name%>
                    </label>
            
                </div>
            
                
                <%end%>
              </div>
          </div>
         
          <br/>


          <div class="radio_group">
            <%0.upto(2) do |index|%>
            <%= form.radio_button :project_type, index %>
            <%=form.label Project.get_project_types()[index]%>
  
            <%end%>
          </div>
       
          <br/>
       <div class="deadline_picker">
        <%=form.label :deadline%>
        <%= form.date_select :deadline%>
       </div>
    
          <br/>

         

          <%= form.submit "Add" , class:"primary_button" %>
        <%end%>
    <%end%>


  </div>


  <%end%>


